<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ChargeOverAPIEndpoint" value="http://dev1.chargeover.test/api/v3"/>
		<add key="ChargeOverAPIUserName" value="JPFyZqaluhc5LRYTBUMk0oV9OeDHsv8g"/>
		<add key="ChargeOverAPIPassword" value="hcW0b1Pg5MtoDQGaAz2qU3H6JZKTClOm"/>
		<add key="ChargeOverAPIAuth" value="http-basic"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>
