<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ChargeOverAPIEndpoint" value="http://dev1.chargeover.test/api/v3"/>
		<add key="ChargeOverAPIUserName" value="OXU8PgzDd10G96CLvSuWFBeKbxf4slqc"/>
		<add key="ChargeOverAPIPassword" value="4Pg5WcH02JqzbMoRfAXjynS1Ds9dvL8V"/>
		<add key="ChargeOverAPIAuth" value="http-basic"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>
