<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ChargeOverAPIEndpoint" value=""/>
		<add key="ChargeOverAPIUserName" value=""/>
		<add key="ChargeOverAPIPassword" value=""/>
		<add key="ChargeOverAPIAuth" value="http-basic"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>
